@model MHNS.Models.Login

@{
    ViewData["Title"] = "Login";
}
<style>
    .center-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
    }

    .form-container {
        width: 300px;
        text-align: center;
    }

        .form-container div {
            margin-bottom: 15px;
        }
</style>
<div class="center-container">
    <div class="form-container">
        <h1>Login</h1>
        <form id="loginForm" asp-action="Login" method="post">
            <div>
                <label asp-for="LoginIdentifier">Email or Student ID</label>
                <input asp-for="LoginIdentifier" class="form-control" />
                <span asp-validation-for="LoginIdentifier" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <label for="hasAccount">Don't have an account?</label>
                <a asp-action="SignUp" asp-controller="SignUp">Create Account</a>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login Failed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Invalid login attempt. Please try again.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#loginForm').submit(function (event) {
                event.preventDefault(); // Prevent the default form submission

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Login", "Home")',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            window.location.href = '@Url.Action("Index", "Dashboard")';
                        } else {
                            $('#loginModal').modal('show');
                        }
                    }
                });
            });
        });
    </script>
}
